@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background-image: url('C:\xampp\htdocs\TCC\Portal Químico\img\FUNDO.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;
}
 
.card {
      background-color: #283593;  
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      color: white;
    }

.card .card-image img {
      height: 180px;
      object-fit: cover;
    }

.search-box {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
      color: #c5c5c5;
    }

.search-box input {
      width: 300px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
    }

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

p{
  color: #333333;
}