@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f7fa;
    background-size: cover;
    background-position: center;
}

.container {
    width: 400px;
    height: auto;
    background-image: url("img/FUNDO.jpg");
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.container h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.input-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    outline: none;
    font-size: 18px;
    padding: 20px 45px 20px 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
}

.input-box input::placeholder {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ffffff;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.esqueceu-senha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    margin: -15px 10px 15px 10px;
}

.esqueceu-senha label input {
    margin-right: 5px;
    accent-color: #ffffff;
}

.esqueceu-senha a {
    color: #ffffff;
    text-decoration: none;
}

.esqueceu-senha a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 40px;
    background-color: #007BFF;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login:hover {
    background-color: #0056b3;
    transition: 0.5s;
}

.register-link {
    text-align: center;
    margin: 20px 0 15px;
    font-size: 14px;
}

.register-link a p {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}

.voltar {
    display: flex;
    justify-content: center;
}

.voltar-link a p {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.voltar-link a:hover {
    text-decoration: underline;
}