* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    line-height: 1.6;
}

.page-header { 
  background-image: url(img/FUNDO.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 2rem;
    text-align: center;
}

  .search-box {
            max-width: 700px;
            margin: 0 auto;
            padding: 0 1rem;
        }

h3 {
    color: white;
    font-size: 2.8rem;
    margin: 0;
}

.topic-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.topic-item {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
