* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f7fa;
    background-size: cover;
    background-position: center;
}

.container {
    width: 400px;
    height: auto;
    background-image: url("img/FUNDO.jpg");
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: #ffffff;
    padding: 0px 50px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.container h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.input-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    outline: none;
    font-size: 18px;
    padding: 20px 45px 20px 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ffffff;
}

.input-box text {
    border-bottom: 0px;
    border-top: 10px;
}

.register {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 40px;
    background-color: #007BFF;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register:hover {
    background-color: #0056b3;
    transition: 0.5s;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

p a {
    color: #a3cefc;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    background: #4caf50;
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}